@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

section {
    padding: 100px;
    background-color: #111;
    height: 100vh;
}

section header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000000;
}

section header .logo {
    position: relative;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
}

section .container {
    position: absolute;
    display: flex;
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    background: #111;
    z-index: 100;
}

section .container .box {
    position: relative;
    width: 25%;
    height: 100%;
    overflow: hidden;
    border-right: 10px solid #111;
}

section .container .box:last-child {
    border-right: none;
}

section .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.9;
    filter: grayscale(1);
    cursor: pointer;
}

section .container .box .imgBx:hover {
    opacity: 1;
    filter: grayscale(0);
}

section .container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .container .box .imgBx.active {
    position: fixed;
    top: 100px;
    left: 100px;
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    z-index: 10000;
    opacity: 1;
    filter: grayscale(0);
}

footer {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
}

footer .sci {
    position: relative;
    display: flex;
}

footer .sci li {
    list-style: none;
}

footer .sci li a {
    color: #555;
    text-decoration: none;
    margin-right: 20px;
}

footer .sci li a:hover {
    color: white;
}