<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
		<link rel="stylesheet" href="./style.css">
		<title><%= title %></title>
	</head>
	<body>

	<%- include('./navbar.ejs') %> 

	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Welcome To Node Blog</h1>
		</div>
	</section>