@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Overpass', sans-serif;
	background-color: #161616;
	height: 100vh;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	color: white;
	text-transform: uppercase;
}

.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.wrapper .line {
	width: 80%;
	height: 70px;
	position: relative;
	overflow: hidden;
}

.wrapper .line span {
	position: absolute;
	font-size: 2rem;
	line-height: 2.4rem;
}
