@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Overpass', sans-serif;
	height: 100vh;
	background-color: #dfe6e9;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	max-width: 100%;
	display: block;
}

.card {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	overflow: hidden;
	width: 350px;
}

.card-header img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.card-content {
	background: white;
	padding: 30px;
}

.card-title {
	margin: 0;
}

.description {
	color: #777;
	margin: 10px 0 20px;
}

.author {
	display: flex;
}

.profile-img {
	border-radius: 50%;
	overflow: hidden;
	height: 40px;
	width: 40px;
}

.author-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 10px;
	width: 100px;
}
