* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nanum Pen Script', cursive;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #252525;
	overflow: hidden;
	transition: all 0.5s;
}

body.lightMode {
	background-color: white;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
}

header h1 {
	color: #fff;
}

body.lightMode header h1 {
	color: #252525;
}

header span {
	font-size: 14px;
	background: white;
	padding: 8px;
	border-radius: 6px;
	cursor: pointer;
}

body.lightMode header span {
	color: white;
	background-color: #252525;
}

.quiz {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
	width: 600px;
	overflow: hidden;
}

body.lightMode .quiz {
	background-color: #252525;
	color: white;
}

.quiz-header {
	padding: 4rem;
}

h2 {
	padding: 1rem;
	text-align: center;
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	font-size: 1.2rem;
	margin: 1rem 0;
}

ul li label {
	cursor: pointer;
}

button {
	background-color: #04c1b7;
	color: white;
	border: none;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 1.1rem;
	font-family: inherit;
	padding: 1.3rem;
	outline: none;
	transition: all 0.4s;
}

button:hover {
	background-color: rgb(25, 146, 140);
}
