.hero-text {
	height: 100vh;
	background-image: url(../images/desktop/image-hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		width: 700px;
		max-width: 95%;
		font-size: 5rem;
		font-weight: $fontNormal;
		text-transform: uppercase;
		color: white;
		padding: 20px;
		border: 1px solid white;
	}
}
