@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Philosopher', sans-serif;
	background-color: #ebebf3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	margin: 20px 0;
	letter-spacing: 3px;
}

.poke-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
	margin: 0 auto;
	max-width: 95%;
	width: 630px;
}

.pokemon {
	background-color: #eee;
	border-radius: 10px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	max-width: 90%;
	margin-top: 20px;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .info .number {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 0.8rem;
}

.pokemon .info .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}

@media screen and (max-width: 640px) {
	.poke-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
