@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	background-color: #121212;
	display: flex;
	align-items: center;
	justify-content: center;
}

canvas {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}

h2 {
	font-size: 80px;
	color: white;
	position: relative;
}
