@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 1500px;
	font-family: 'Poppins', sans-serif;
	background-color: #121212;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 10000;
}

header .logo {
	position: relative;
	font-weight: bold;
	color: white;
	text-decoration: none;
	font-size: 2rem;
	letter-spacing: 2px;
	transition: 0.6s;
}

header.sticky {
	padding: 5px 100px;
	background-color: white;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
}

header ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: white;
	letter-spacing: 2px;
	font-weight: 500;
	transition: 0.6s;
}

.banner {
	position: relative;
	width: 100%;
	height: 100vh;
}

header.sticky a {
	color: black;
}
