* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(./images/bg.jpg);
    background-size: cover;
}

section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/splash.jpg);
    background-size: 100%;
    background-position: center;
    mix-blend-mode: screen;
}