@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	background-color: #dfe6e9;
}

input {
	background-color: transparent;
	border: none;
	outline: none;
	font-family: inherit;
}

.container {
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 300px;
}

.title {
	margin: 0;
}

.subtitle {
	display: inline-block;
	margin: 5px 0 20px;
	opacity: 0.8;
}

.header {
	background: #6c5ce7;
	color: white;
	padding: 30px 20px;
}

.header input {
	background: rgba(0, 0, 0, 0.3);
	border: 0;
	border-radius: 50px;
	color: white;
	font-size: 14px;
	padding: 10px 15px;
	width: 100%;
}

.user-list {
	background-color: #fff;
	list-style-type: none;
	max-height: 400px;
	overflow-y: auto;
	padding: 0;
}

.user-list li {
	display: flex;
	padding: 20px;
}

.user-list img {
	border-radius: 50%;
	object-fit: cover;
	height: 50px;
	width: 50px;
}

.user-info {
	margin-left: 10px;
}

.user-info h4 {
	margin: 0 0 10px;
}

.user-info p {
	font-size: 12px;
}

.user-list li:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.hide {
	display: none !important;
}
