@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: #34495e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    width: 500px;
}

h3 {
    color: white;
    line-height: 30px;
    margin: 10px 0 20px;
    font-weight: 200;
}

textarea {
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
    outline: none;
}

.tag {
    background-color: #f39c12;
    padding: 7px 13px;
    border-radius: 20px;
    color: white;
    display: inline-block;
    font-size: 15px;
    margin: 0 5px 10px 0;
}

.tag.highlights {
    background-color: #8e44ad;
}