@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    background-color: #dfe6e9;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

nav {
    background-color: #74b9ff;
    padding: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.6s ease-in-out;
}

nav.active {
    width: 350px;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 0;
    transition: width 0.6s ease-in-out;
}

nav.active ul {
    width: 100%;
}

nav ul li {
    transform: rotateX(0deg);
    opacity: 0;
    transition: all 0.3s ease-in;
}

nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
}

nav ul li a {
    position: relative;
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.icon {
    background-color: white;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: 30px;
    height: 30px;
    outline: none;
}

.icon .line {
    background-color: black;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: all 0.5s ease-in;
}

.icon .line2 {
    top: auto;
    bottom: 10px;
}

nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
    left: 0;
}

nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
    left: 0;
}