@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
}

body {
	font-family: 'Overpass', sans-serif;
	background-color: #161616;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	font-size: 30px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 30px;
}

.hover-this {
	transition: all 0.4s ease-in;
}

span {
	display: inline-block;
	pointer-events: none;
	transition: transform 0.1s linear;
}

.cursor {
	position: fixed;
	pointer-events: none;
	padding: 0.4rem;
	background-color: white;
	mix-blend-mode: difference;
	border-radius: 50%;
	transition: transform 0.4s ease-in;
}

.hover-this:hover ~ .cursor {
	transform: translate(-50%, -50%) scale(8);
}
