@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: #dfe6e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 30px;
}

h1 {
    font-size: 45px;
    color: black;
    font-weight: bold;
    margin: 50px 0;
}

.container {
    width: 1300px;
    margin: auto;
    max-width: 95%;
}

.form {
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}

.ytb-iframe {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 19px;
    width: 100%;
    padding: 13px 20px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
}

input::placeholder {
    color: inherit;
    font-family: inherit;
}

button {
    font-family: inherit;
    font-size: 17px;
    color: white;
    background-color: #0984e3;
    margin-top: 50px;
    display: none;
    border: none;
    outline: none;
    padding: 8px 14px;
    cursor: pointer;
}