* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 450px;
    background-image: url(./fullpage.png);
    background-position: top;
    background-size: cover;
    border: 5px solid #fff;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
    transition: background-position 10s ease-in-out;
}


.box:hover {
    background-position: bottom;
}