.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formWeather {
	display: flex;
	flex-direction: column;
}

.formWeather h2 {
	font-size: 50px;
	letter-spacing: 0.2rem;
}

.formWeather input {
	padding: 14px 13px;
	width: 100%;
	font-size: 17px;
	background: #fff;
	border: 0;
	outline: none;
	color: black;
}

.formWeather input::placeholder {
	font-family: inherit;
	color: inherit;
}

.formWeather button {
	width: 100%;
	padding: 10px 3px;
	font-size: 17px;
	outline: none;
	border: none;
	margin-top: 30px;
	background: orange;
	color: white;
	cursor: pointer;
}

.weather {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 20%;
}
