* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fafafb;
	font-family: 'Varela Round', sans-serif;
	padding-top: 80px;
}

.header {
	width: 60%;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 40px;
	color: #1d3144;
	text-align: center;
}

.field-input {
	width: 100%;
	border-radius: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}

input {
	width: 100%;
	height: 100%;
	padding: 20px;
	color: #1d3144;
	font-size: 18px;
	background-color: white;
	border-radius: 30px;
	border: 1px solid #999da6;
	outline: none;
	font-family: 'Varela Round', sans-serif;
}

input::placeholder {
	color: #1d3144;
	font-family: 'Varela Round', sans-serif;
}

.grid-api {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	margin-top: 40px;
}

.item {
	padding: 30px;
	background-color: white;
	border-radius: 15px;
	color: #1d3144 !important;
	text-decoration: none;
	-webkit-box-shadow: -1px 4px 13px -1px rgba(61, 57, 61, 0.2);
	-moz-box-shadow: -1px 4px 13px -1px rgba(61, 57, 61, 0.2);
	box-shadow: -1px 4px 13px -1px rgba(61, 57, 61, 0.2);
}

span {
	display: block;
	color: #fa3546;
	padding: 5px 0;
}

.pagination {
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
	width: 90%;
	padding-bottom: 50px;
}

.pagination div {
	border-radius: 8px;
	padding: 9px 30px;
	font-size: 20px;
	color: #fff;
	background-color: #fa3546;
	transition: all 0.5s ease-in-out;
}
.pagination div:hover {
	background-color: #fa9d9e;
	cursor: pointer;
}

.disabled {
	pointer-events: none;
}
