@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #161616;
}


section {
    position: relative;
    width: 100%;
    height: 100vh;
}

section #slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.6s;
}

section .navigation {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .navigation li {
    width: 120px;
    height: 120px;
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    background-color: white;
    padding: 3px 3px 0;
    opacity: 0.7;
    transition: 0.5s;
    position: relative;
    border: 2px solid white;
    transition: 0.6s;
}

section .navigation li video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

section .navigation li:hover {
    opacity: 1;
}

section .navigation li video:hover {
    transform: scale(1.1);
    opacity: 1;
}