<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
		<link rel="stylesheet" href="style.css" />
		<title>Photo Gallery Using Node Js & Express Js</title>
	</head>
	<body>
		<div class="container">
			<!-- NAVBAR MENU -->
			<nav class="main-nav">
				<h2>Photo Gallery</h2>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>

			<div class="about">
				<h3>About</h3>
				<p>This project is using Node js & Express js to fetch images from PIXABAY free API</p>
			</div>
		</div>

		<script src="main.js"></script>
	</body>
</html>
