@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    background-color: #dfe6e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 19px;
    font-family: inherit;
    background: #00b894;
    border: none;
    outline: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.6s;
}

button:hover {
    background-color: #74b9ff;
}

#notifications {
    position: fixed;
    bottom: 40px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notif {
    background-color: #eee;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
}

.notif.success {
    color: #00b894;
}

.notif.info {
    color: #2d3436;
}

.notif.error {
    color: #d63031;
}